@font-face {
  font-family: 'Anthonio Script';
  src: url('/fonts/AnthonioScript.ttf') format('truetype');
}

@font-face {
  font-family: 'Bebas Neue Book';
  src: url('/fonts/BebasNeue-Book.ttf') format('truetype');
}

html, body {
  background-color: #FAF3E6;
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  font-family: "poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  align-items: center;
}

#name {
  display: flex;
  gap: 20px;
  align-items: center;
}

#initials {
  color: white;
  background-color: #AA2B48;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

a {
  text-decoration: none;
}

.container #hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family:'Anthonio Script';
  font-size: 160px;
  color: #AA2B48;
  margin-bottom: -180px;
  z-index: 2;
}

#hero h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 150px;
  margin-bottom: -50px;
}

#hero p {
  font-family: 'Bebas Neue Book', sans-serif;
  font-size: 50px;
  background-color: #CCC6B9;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px black;
  border-radius: 8px;
  width: fit-content;
  padding: 10px 10px;
}

.container.about {
  margin-bottom: 50px;
}

#about {
  display: flex;
}

#about-text h2, #competencies h2, #projects h2, #contact h2 {
  margin-bottom: -80px;
  font-size: 50px;
  font-family: 'Bebas Neue', sans serif;
}

#about-text h3, #competencies h3, #projects h3, #contact h3 {
  font-size: 50px;
  font-family: 'Anthonio Script', sans serif;
  color: #AA2B48;
}

#about-text h4 {
  font-size: 20px;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

#about-text p {
  font-size: 18px;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inclined-banner.red{
  width: 100%;
  height: 200px;
  background-color: #AA2B48;
  clip-path: polygon(47% 0, 100% 0, 100% 68%, 30% 100%);
  position: absolute;
  right: 0;
}

.container.quote {
  display: flex;
  margin-bottom: 150px;
}

.container.quote.walsch{
  justify-content: flex-end;
}

.container.quote.gates {
  justify-content: flex-start;
}

.quote {
  color: #FAF3E6;
  z-index: 1;
  font-family: 'Poppins', sans-serif;
}

.container.competencies {
  display: flex;
  gap: 50px
}

#languages, #tools {
  width: 250px;
  height: 300px;
  border: solid 8px black;
  color: #FAF3E6;
  border-radius: 20px;
}

#languages h3, #tools h3 {
font-family: 'Bebas Neue', sans-serif;
}

#languages ul, #tools ul {
  font-family: 'Poppins', sans-serif;
}

#languages {
  background-color:#AA2B48;
}

#tools {
  background-color: #275752;
}

#competencies-columns{
  display: flex;
  gap: 100px;
}

.container.cv {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#cv {
  background-color: #CCC6B9;
  border: solid black 8px;
  border-radius: 20px;
  width: fit-content;
  padding: 0px 200px;
}

.inclined-banner.green {
  width: 100%;
  height: 200px;
  background-color:#275752;
  clip-path: polygon(0% 0, 47% 0, 68% 68%, 0% 50%);
  position: absolute;
  left: 0;
}

input {
  border: none;
  border-bottom: #AA2B48 solid 2px;
  background-color: transparent;
}

.contact-content {
  display: flex;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

button {
  border-radius: 10px;
  padding: 10px 10px;
  font-family: 'Bebas Neue', sans-serif,
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 20px;
}
